NODE_ENV=development
PORT=4000
DB_HOST=localhost
DB_PORT=5432
DB_USER=fopapenka
DB_PASSWORD=fopapenka_secret
DB_NAME=fopapenka_dev
JWT_SECRET=dev_super_secret_change_in_prod_min_32_chars
JWT_EXPIRES_IN=24h
JWT_REMEMBER_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173
